.body {
  display: flex;
  float: left;
  background-color: rgb(202, 227, 249);
}
.container {
  width: 260px;
  height: 300px;
  border: 1px solid rgb(123, 117, 117);
  margin: 20px;
}
.child1 {
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 120px;
}
.child2 {
  width: 260px;

  height: 180px;

  position: relative;
  display: flex;
}

.item1 {
  padding-top: -30px;
  padding-bottom: 10px;
}
.item2 {
  color: rgb(98, 151, 217);
  margin: 20px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col1 {
  width: 20px;
  height: 110px;
  background-color: brown;
  position: absolute;
  left: 30px;
  top: 15px;
  border: 1px solid rgb(124, 118, 118);
}
.subTitle1 {
  position: absolute;
  left: 23px;
  bottom: 19px;
  font-size: 16px;
}
.col2 {
  width: 20px;
  height: 110px;
  background-color: rgb(9, 192, 82);
  position: absolute;
  left: 70px;
  top: 15px;
  border: 1px solid rgb(124, 118, 118);
}
.col3 {
  width: 20px;
  height: 110px;
  background-color: rgb(227, 243, 9);
  position: absolute;
  left: 110px;
  top: 15px;
  border: 1px solid rgb(124, 118, 118);
}

.col4 {
  width: 20px;
  height: 110px;
  background-color: rgb(14, 206, 249);
  position: absolute;
  left: 150px;
  top: 15px;
  border: 1px solid rgb(124, 118, 118);
}
.col5 {
  width: 20px;
  height: 110px;
  background-color: rgb(245, 19, 19);
  position: absolute;
  left: 190px;
  top: 15px;
  border: 1px solid rgb(124, 118, 118);
}
.subTitle2 {
  position: absolute;
  left: 67px;
  bottom: 19px;
  font-size: 16px;
}
.subTitle3 {
  position: absolute;
  left: 105px;
  bottom: 19px;
  font-size: 16px;
}
.subTitle4 {
  position: absolute;
  left: 150px;
  bottom: 19px;
  font-size: 16px;
}
.subTitle5 {
  position: absolute;
  left: 190px;
  bottom: 19px;
  font-size: 16px;
}
.subcol1 {
  width: 20px;
  height: 70px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 31.2px;
  top: 15.5px;
}
.subcol2 {
  width: 20px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 71px;
  top: 16px;
}
.subcol3 {
  width: 20px;
  height: 62px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 111px;
  top: 16px;
}

.subcol4 {
  width: 20px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 151px;
  top: 16px;
}
.subcol5 {
  width: 20px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 191px;
  top: 16px;
}
