.container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  width: 330px;
  height: 101px;
  padding: 20px;
  border-radius: 20px;
  gap: 16px;
  background-color: rgb(253, 254, 255);
  width: Fill (330px);
  display: flex;

  align-items: center;
  justify-content: center;
}
.child {
  width: 290px;
  height: 61px;
  display: flex;

  align-items: center;
  justify-content: center;
  justify-content: space-between;

  background-color: rgb(255, 255, 255);
}
.item {
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 49px;
  height: 61px;
  padding: 5px, 12px, 5px, 12px;
  border-radius: 4px;

  align-items: center;
}
.item1 {
  width: 25px;
  height: 25px;

  margin-top: 6px;
}
.item2 {
  width: 23px;
  height: 20px;

  color: #000;
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 181.818% */
  letter-spacing: 0.1px;
}
.container1 {
  width: 330px;
  height: 91px;
  padding: 24px;
  border-radius: 20px;
  gap: 16px;
  background-color: aqua;
}
